<div class="row ">
    <!-- <div class="col-12">
        <ol class="breadcrumb mb-0 p-0 pb-1" style="background-color: transparent;">
            <li class="breadcrumb-item">
                <a href="/dashboard" style="color:black">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/tutor" style="color:black">Tutor</a>
            </li>
        </ol>
    </div> -->
    <div class="mb-1 col-12">
        <h2>{{ .Data.ID }}</h2>
    </div>
</div>

{{ if .Error }}
<div class="alert alert-danger">
    {{ .Error }}
</div>
{{ end }}

<div class="card mb-4">
    <div class="card-body">
        <form action="/api/update-tutor/{{ .Data.ID }}" method="POST">
            <div class="form-group">
                <label for="name">Nama</label>
                <input type="text" name="name" placeholder="Masukkan nama" required="required" class="form-control"
                    value="{{ .Data.Name }}">
            </div>
            <div class="form-group">
                <label>User</label>
                <select id="userSelect" name="user_id" class="form-control select2 select2-hidden-accessible"
                    style="width: 100%;">
            </div>
            <div class="form-group">
                <label>User</label>
                <select id="userSelect" name="user_id" class="form-control select2 select2-hidden-accessible"
                    style="width: 100%;">
            </div>

            <div class="form-group">
                <label for="is_active">Is Active</label>
                <select name="is_active" required="required" class="form-control">
                    <option value="" selected="selected">Pilih</option>
                    <option {{ if eq .Data.IsActive 1 }} selected="selected" {{ end }} value="1">Active</option>
                    <option {{ if eq .Data.IsActive 0 }} selected="selected" {{ end }} value="0">Inactive</option>
                </select>
                <small class="form-text text-muted">active: bisa mengakses tutor area<br />
                    inactive: tidak bisa mengakses tutor area</small>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
<script>
         if ("{{ .UserID }}" != "" && "{{ .UserID }}" != null && "{{ .UserID }}" != "<nil>") {
                // dd()
                $("#userSelect").append(new Option("{{ .EmailData }}", "{{ .UserID }}"));
            }
</script>