<!-- <div class="row ">
    <div class="col-12">
        <ol class="breadcrumb mb-0 p-0 pb-1" style="background-color: transparent;">
            <li class="breadcrumb-item">
                <a href="/dashboard" style="color:black">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/package" style="color:black">Package</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/package/view/{{ .Data.ID }}" style="color:black">View</a>
            </li>
        </ol>
    </div>
    <div class="mb-1 col-12">
        <h2>Form Edit Section</h2>
    </div>
</div> -->


{{ if .Error }}
<div class="alert alert-danger">
    {{ .Error }}
</div>
{{ end }}

{{ if .success }}
<div class="alert alert-success">
    {{ .success }}
</div>
{{ end }}

{{ if .Info }}
<div class="alert alert-info">
    {{ .Info }}
</div>
{{ end }}

<div class="card mb-4">

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless table-striped mb-0" style="width: 100%;">
                <tbody>
                    <tr>
                        <th width="140px">Paket</th>
                        <td>{{ .Data.Name }}</td>
                    </tr>
                    <tr>
                        <th width="140px">Version</th>
                        <td>{{ .Data.Version.Name }}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card mb-4">
    <div class="card-body">
        <form action="/api/action-package-section/{{ .Data.ID }}" method="POST">
            {{range $i, $e := .Data.Version.Section }}
            <div class="form-group">
                <label>{{ .Name }}</label>
                <input type="text" name="version_id[{{ $i }}]" hidden="hidden" value="{{ .ID }}" class="form-control" />
                <input type="text" name="sequence[{{ $i }}]" placeholder="masukkan sequence" class="form-control" />
            </div>
            {{ end }}

            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
