{{ define "content" }}
<div class="row ">
    <div class="col-12">
        <ol class="breadcrumb mb-0 p-0 pb-1" style="background-color: transparent;">
            <li class="breadcrumb-item">
                <a href="/dashboard" style="color:black">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/package" style="color:black">Package</a>
            </li>
        </ol>
    </div>
    <div class="mb-1 col-12">
        <h2>{{ .oldPackage.Name }}</h2>
    </div>
</div>

<a value="/package/edit/{{ .oldPackage.ID }}" class="btn btn-warning text-white mb-4 showModalButton" title="Edit Package"
    size="modal-lg">
    <i class="fa fa-pen"></i>
    Edit</a>&nbsp;
<a href="/api/recalculate-score/{{ .oldPackage.ID }}" class=" btn btn-primary text-white mb-4">
    <i class="fa fa-history"></i>
    Recalculate Scores</a>&nbsp;
<form action="/api/action-package-duplicate/{{ .oldPackage.ID }}" method="POST" class="d-inline">
    <button type="submit" class="btn btn-secondary text-white mb-4"
        onclick="return confirm('Apakah anda yakin ingin duplicate data ini?')">
        <i class="fa fa-clone"></i>
        Duplicate
    </button>
</form>


{{ if .Success }}
<div class="alert alert-success">
    {{ .Success }}
</div>
{{ end }}
{{ if .Error }}
<div class="alert alert-danger">
    {{ .Error }}
</div>
{{ end }}


<div class="card mb-4">

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless table-striped mb-0" style="width: 100%;">
                <tbody>
                    <tr>
                        <th width="140px">ID</th>
                        <td>{{ .oldPackage.ID }}</td>
                    </tr>
                    <tr>
                        <th width="140px">Nama</th>
                        <td>{{ .oldPackage.Name }}</td>
                    </tr>
                    <tr>
                        <th width="140px">Description</th>
                        <td>{{ call .ReplaceNewlinesWithBr .oldPackage.Description }}</td>
                    </tr>
                    <tr>
                        <th width="140px">Duration</th>
                        <td>{{ .oldPackage.Duration }}</td>
                    </tr>
                    <tr>
                        <th width="140px">Price</th>
                        <td>{{ .oldPackage.Price }}</td>
                    </tr>
                    <tr>
                        <th width="140px">Version</th>
                        <td>{{ .oldPackage.Version.Name }}</td>
                    </tr>
                    <tr>
                        <th width="140px">Scoring Method</th>
                        <td>
                            {{ if eq .oldPackage.ScoringMethod 1 }}Percentaged
                            {{ end }}
                            {{ if eq .oldPackage.ScoringMethod 2 }}Summarized
                            {{ end }}
                        </td>
                    </tr>
                    <tr>
                        <th width="140px">Shuffle Type</th>
                        <td>
                            {{ if eq .oldPackage.ShuffleType 1}}Berurutan
                            {{ end }}
                            {{ if eq .oldPackage.ShuffleType 2}}Acak Keseluruhan
                            {{ end }}
                            {{ if eq .oldPackage.ShuffleType 3}}Acak Per Section
                            {{ end }}
                            {{ if eq .oldPackage.ShuffleType 4}}Acak Per Topik
                            {{ end }}
                        </td>
                    </tr>
                    <tr>
                        <th width="140px">Minimum Score</th>
                        <td>{{ .oldPackage.MinimumScore }}</td>
                    </tr>
                    <tr>
                        <th width="140px">Size</th>
                        <td>
                            {{ if eq .oldPackage.IsComplete 0 }}Mini TO
                            {{ end }}
                            {{ if eq .oldPackage.IsComplete 1 }}Lengkap
                            {{ end }}
                        </td>
                    </tr>
                    <tr>
                        <th width="140px">Dependency</th>
                        <td>
                            {{ if eq .oldPackage.IsIndependent 0}}Dependent
                            {{ end }}
                            {{ if eq .oldPackage.IsIndependent 1}}Independent
                            {{ end }}
                            <small class="form-text text-muted">independent: dapat dibeli secara satuan maupun via
                                kelas<br />
                                dependent: hanya tersedia pada kelas</small>
                        </td>
                    </tr>
                    <tr>
                        <th width="140px">Is Active</th>
                        <td>
                            {{ if eq .oldPackage.IsActive 0 }}Inactive
                            {{ end }}
                            {{ if eq .oldPackage.IsActive 1 }}Active
                            {{ end }}
                            <small class="form-text text-muted">active: tersedia detail jawaban dan pembahasan untuk
                                user<br />
                                inactive: tidak tersedia detail jawaban dan pembahasan untuk user</small>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">
        <div class="card-title w-100 d-flex justify-content-between align-items-center mb-0">
            <div>
                <h5>Question</h5>
            </div>
            <div class="d-flex flex-row">
                {{range $i, $e := .packageQuestionCount }}
                <div>
                    <a href="#" class=" btn btn-light py-2">
                        {{ .Section.Name }}:
                        {{ .Count }}</a>
                </div>
                &nbsp;
                &nbsp;
                {{ end }}
                <div>
                    <table class="table mb-0" id="datapackagequestion1" style="width:100%;display: none;">
                        <thead class="thead-light">
                            <tr>
                                <th style="min-width: 1px; white-space: nowrap;">#</th>
                                <th>Question</th>
                                <th>Section</th>
                                <th>Explanation</th>
                                <th>Batch</th>
                                <th>Topic</th>
                                <th>Sub Topic</th>
                                <th>Tutor Name</th>
                                <th>ID</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                &nbsp;&nbsp;
                <div>
                    <a value="/package-section/edit/{{ .oldPackage.ID }}" class="btn py-2 btn-warning text-white showModalButton" title="Edit Section"
    size="modal-lg">
                        <i class="fa fa-pen"></i>
                        Edit Section</a>
                </div>
                &nbsp; &nbsp;
                <div>
                    <a value="/package/question/{{ .oldPackage.ID }}" class="btn py-2 btn-primary showModalButton" title="Tambah Question"
    size="modal-lg">
                        <i class="fa fa-plus"></i>
                        Tambah Question</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table mb-0" id="datapackagequestion" style="width:100%">
                <thead class="thead-light">
                    <tr>
                        <th style="min-width: 1px; white-space: nowrap;">#</th>
                        <th></th>
                        <th>Question</th>
                        <th>Section</th>
                        <th>Explanation</th>
                        <th>Topic</th>
                        <th style="min-width: 1px; white-space: nowrap;">Tutor Name</th>
                        <th>ID</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<!-- <div class="card mb-4">
                                                            <div class="card-body">
                                                                <form action="/admin/users/update/{{ .oldUser.ID }}" method="POST">
                                                                    <div class="form-group">
                                                                        <label for="password">Password</label>
                                                                        <input type="text" name="password" placeholder="Masukkan password" class="form-control">
                                                                    </div>
                                                            
                                                        
                                                                    <div>
                                                                        <button type="submit" class="btn btn-primary">Submit</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div> -->


{{ end }}