<div class="row ">
    <!-- <div class="col-12">
        <ol class="breadcrumb mb-0 p-0 pb-1" style="background-color: transparent;">
            <li class="breadcrumb-item">
                <a href="/dashboard" style="color:black">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/bundle" style="color:black">Kelas</a>
            </li>
        </ol> -->
    <!-- </div> -->
    <div class="mb-1 col-12">
        <h2>Form Edit User</h2>
    </div>
</div>


{{ if .Error }}
<div class="alert alert-danger">
    {{ .Error }}
</div>
{{ end }}

{{ if .Info }}
<div class="alert alert-info">
    {{ .Info }}
</div>
{{ end }}

<div class="card mb-4">

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless table-striped mb-0" style="width: 100%;">
                <tbody>
                    <tr>
                        <th width="140px">Class</th>
                        <td>{{ .Data.Name }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card mb-4">
    <div class="card-body">
        <form action="/api/update-order?id={{ .DataOrder.ID }}&a=add" method="POST">
            <div class="form-group">
                <label>User</label>
                <select id="userSelect" name="user_id" class="form-control select2 select2-hidden-accessible"
                    disabled="disabled" required="required" style="width: 100%;" aria-hidden="true">
            </div>
            <div class="form-group">
                <label>User</label>
                <select id="userSelect" name="user_id" class="form-control select2 select2-hidden-accessible"
                    disabled="disabled" required="required" style="width: 100%;" tabindex="-1" aria-hidden="true">
            </div>
            <input type="number" id="bundle_id" name="bundle_id" hidden="hidden" value="{{ .Data.ID }}"
                class="form-control">
            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" id="inputPrice" tabindex="1" name="price" value="{{ .DataOrder.Amount }}"
                    placeholder="Masukkan price" required="required" class="form-control">
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
<script>
    if ("{{ .UserID }}" != "" && "{{ .UserID }}" != null) {
        // dd()
        $("#userSelect").append(new Option("{{ .EmailData }}", "{{ .UserID }}"));
    }
</script>