{{ define "content" }}

<div class="row mb-2">
    <div class="col-12">
        <ol class="breadcrumb mb-0 p-0 pb-1" style="background-color: transparent;">
            <li class="breadcrumb-item">
                <a href="/dashboard" style="color:black">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/bundle" style="color:black">Class</a>
            </li>
        </ol>
    </div>
    <div class="mb-1 col-12">
        <h2>{{ .Data.Name }}</h2>
    </div>
</div>

<a value="/bundle/edit/{{ .Data.ID }}" class="btn btn-warning text-white mb-4 showModalButton" title="Edit Class"
    size="modal-lg">
    <i class="fa fa-pen"></i>
    Edit</a>

{{ if .Error }}
<div class="alert alert-danger">
    {{ .Error }}
</div>
{{ end }}

<div class="card mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless table-striped mb-0" style="width: 100%;">
                <tbody>
                    <tr>
                        <th width="140px">ID</th>
                        <td>{{ .Data.ID }}</td>
                    </tr>
                    <tr>
                        <th width="140px">Nama</th>
                        <td>{{ .Data.Name }}</td>
                    </tr>
                    <tr>
                        <th width="140px">Description</th>
                        <td>{{ call .ReplaceNewlinesWithBr .Data.Description }}</td>
                    </tr>
                    <tr>
                        <th width="140px">Price</th>
                        <td>{{ .Data.Price }}</td>
                    </tr>
                    <tr>
                        <th width="140px">Is Public</th>
                        <td>
                            {{ if eq .Data.IsPublic 0 }}Private
                            {{ end }}
                            {{ if eq .Data.IsPublic 1 }}Public
                            {{ end }}
                            <small class="form-text text-muted">public: tampil di website dan dapat dibeli user secara mandiri via
                                midtrans<br />
                                private: tidak tampil di website dan hanya dapat dibeli via marketing/admin</small>
                        </td>
                    </tr>
                    <tr>
                        <th width="140px">Is Active</th>
                        <td>
                            {{ if eq .Data.IsActive 0 }}Inactive
                            {{ end }}
                            {{ if eq .Data.IsActive 1 }}Active
                            {{ end }}
                            <small class="form-text text-muted">active: Dapat melihat pembahasan package soal dalam class<br />
                                inactive: tidak dapat melihat pembahasan package soal dalam class</small>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">
        <div class="card-title w-100 d-flex justify-content-between align-items-center mb-0">
            <div>
                <h5>Material</h5>
            </div>
            <div>
                <a value="/bundle/add/material/{{ .Data.ID }}" class="btn btn-primary showModalButton" title="Tambah Material"
    size="modal-lg">
                    <i class="fa fa-plus"></i>
                    Tambah Material</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table mb-0" id="databundlematerial" style="width:100%">
                <thead class="thead-light">
                    <tr>
                        <th style="min-width: 1px; white-space: nowrap;">#</th>
                        <th style="width: 1px; white-space: nowrap;"></th>
                        <th style="width: 1px; white-space: nowrap;">ID</th>
                        <th>Material</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>


<div class="card mb-4">
    <div class="card-header">
        <div class="card-title w-100 d-flex justify-content-between align-items-center mb-0">
            <div>
                <h5>Package</h5>
            </div>
            <div>
                <a value="/bundle/package/new/{{ .Data.ID }}" class="btn btn-primary showModalButton" title="Tambah Package"
    size="modal-lg">
                    <i class="fa fa-plus"></i>
                    Tambah Package</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table mb-0" id="databundlepackage" style="width:100%">
                <thead class="thead-light">
                    <tr>
                        <th style="min-width: 1px; white-space: nowrap;">#</th>
                        <th style="width: 1px; white-space: nowrap;"></th>
                        <th style="width: 1px; white-space: nowrap;">Package ID</th>
                        <th>Package Name</th>
                        <th>Date Start</th>
                        <th>Date End</th>
                        <th>TO</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">
        <div class="card-title w-100 d-flex justify-content-between align-items-center mb-0">
            <div>
                <h5>Meeting</h5>
            </div>
            <div>
                <a value="/bundle/meeting/new/{{ .Data.ID }}" class="btn btn-primary showModalButton" title="Tambah Meeting"
    size="modal-lg">
                    <i class="fa fa-plus"></i>
                    Tambah Meeting</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table mb-0" id="databundlemeeting" style="width:100%">
                <thead class="thead-light">
                    <tr>
                        <th style="min-width: 1px; white-space: nowrap;">#</th>
                        <th style="width: 1px; white-space: nowrap;"></th>
                        <th style="width: 1px; white-space: nowrap;">Seq</th>
                        <th>Name</th>
                        <th>Started At</th>
                        <th>Ended At</th>
                        <th>Tutor</th>
                        <th>User</th>
                        <th class="text-center">Rec</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>


<div class="card mb-4">
    <div class="card-header">
        <div class="card-title w-100 d-flex justify-content-between align-items-center mb-0">
            <div>
                <h5>User</h5>
            </div>
            <div class="d-flex flex-row">
                <div class="mr-1">
                    <table class="table mb-0" style="display: none;" id="dataorderbundle1" style="width:100%">
                        <thead class="thead-light">
                            <tr>
                                <th style="min-width: 1px; white-space: nowrap;">#</th>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Institution</th>
                                <th class="text-right">Amount</th>
                                <th style="min-width: 1px; white-space: nowrap;">Channel</th>
                                <th style="min-width: 1px; white-space: nowrap;">Time At</th>
                                <th style="min-width: 1px; white-space: nowrap;">Status</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div>
                    <a value="/bundle/add/user/{{ .Data.ID }}" class="btn btn-primary py-2 showModalButton" title="Tambah User"
    size="modal-lg">
                        <i class="fa fa-plus"></i>
                        Tambah User</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table mb-0" id="dataorderbundle" style="width:100%">
                <thead class="thead-light">
                    <tr>
                        <th style="min-width: 1px; white-space: nowrap;">#</th>
                        <th style="min-width: 1px; white-space: nowrap;"></th>
                        <th style="width: 1px; white-space: nowrap;">ID</th>
                        <th>User</th>
                        <th>Institution</th>
                        <th class="text-right">Amount</th>
                        <th style="min-width: 1px; white-space: nowrap;">Channel</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

{{ end }}