{{ define "content" }}
<h2 class="mb-4">Institusi</h2>
<a href="/admin/institution/new" class=" btn btn-primary mb-3">
    <i class="fa fa-plus"></i>
    Tambah Institusi</a>


<div class="card mb-4">
    <div class="card-body">
        <div div class="table-responsive">
            <table class="table mb-0" id="myTable" style="width:100%">


                <thead class="thead-light">
                    <tr>
                        <th style="min-width: 1px; white-space: nowrap;">No</th>
                        <th style="min-width: 1px; white-space: nowrap;">Action</th>
                        <th>Nama</th>
                        <th style="min-width: 1px; white-space: nowrap;">Tipe</th>
                        <th style="min-width: 1px; white-space: nowrap;">Singkatan</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
{{ end }}