{{ define "content" }}
<h2 class="mb-4">Submission</h2>

<!-- <a href="/admin/users/new" class=" btn btn-primary mb-3">
                    <i class="fa fa-plus"></i>
                    Tambah User</a> -->

<div class="card mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table mb-0" id="datasubmission" style="width:100%">
                <thead class="thead-light">
                    <tr>
                        <th style="min-width: 1px; white-space: nowrap;">#</th>
                        <th style="min-width: 1px; white-space: nowrap;"></th>
                        <th>User</th>
                        <th>Formation Quota</th>
                        <th>Basic Score</th>
                        <th>Basic Rank</th>
                        <th>Advanced Score</th>
                        <th>Advanced Rank</th>
                        <th>Status</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
{{ end }}