<div class="row ">
    <!-- <div class="col-12">
        <ol class="breadcrumb mb-0 p-0 pb-1" style="background-color: transparent;">
            <li class="breadcrumb-item">
                <a href="/dashboard" style="color:black">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/exam" style="color:black">Exam</a>
            </li>
        </ol>
    </div> -->
    <div class="mb-1 col-12">
        <h2>{{ .Data.Package.Name }}</h2>
    </div>

</div>


<div class="card mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless table-striped mb-0" style="width: 100%;">
                <tbody>
                    <tr>
                        <th width="140px">ID</th>
                        <td>{{ .Data.ID }}</td>
                    </tr>
                    <tr>
                        <th width="140px">Nama</th>
                        <td>{{ .Data.Package.Name }}</td>
                    </tr>
                    <tr>
                        <th width="140px">StartedAt</th>
                        <td>{{ .Data.StartedAt }}</td>
                    </tr>
                    <tr>
                        <th width="140px">EndedAt</th>
                        <td>{{ .Data.EndedAt }}</td>
                    </tr>
                    <tr>
                        <th width="140px">Extra Time</th>
                        <td>{{ .oldUser.ExtraTime }}</td>
                    </tr>
                    <tr>
                        <th width="140px">Score Percentaged</th>
                        <td>{{ .Data.ScorePercentaged}}</td>
                    </tr>
                    <tr>
                        <th width="140px">Score Summarized</th>
                        <td>{{ .Data.ScoreSummarized }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="card mb-4">
    <div class="card-body">
        <form action="/api/action-extratime/{{ .Data.ID }}" method="POST">
            <div class="form-group">
                <label for="e_time">Extra Time</label>
                <input type="number" name="e_time" placeholder="Masukkan code" required="required" class="form-control"
                    value="{{ .Data.ExtraTime }}">
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>