{{ define "content" }}
<h2 class="mb-4">Exam</h2>

<a href="#" class=" btn btn-light mb-3 bg-white">
    Exam Running: {{ .totalRecords }}</a>
<!-- <a href="/admin/users/new" class=" btn btn-primary mb-3">
                <i class="fa fa-plus"></i>
                Tambah User</a> -->
{{ if .Error }}
<div class="alert alert-danger">
    {{ .Error }}
</div>
{{ end }}

<div class="card mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table mb-0" id="dataexam" style="width:100%">
                <thead class="thead-light">
                    <tr>
                        <th style="min-width: 1px; white-space: nowrap;">#</th>
                        <th style="min-width: 1px; white-space: nowrap;"></th>
                        <th>ID</th>
                        <th>User</th>
                        <th>Institution</th>
                        <th>Package</th>
                        <th style="min-width: 1px; white-space: nowrap;">Extra Time</th>
                        <th>Score</th>
                        <th>Started At</th>
                        <th>Ended At</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
{{ end }}