{{ define "content" }}
<div class="row ">
    <div class="col-12">
        <ol class="breadcrumb mb-0 p-0 pb-1" style="background-color: transparent;">
            <li class="breadcrumb-item">
                <a href="/dashboard" style="color:black">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/exam" style="color:black">Exam</a>
            </li>
        </ol>
    </div>
    <div class="mb-1 col-12">
        <h2>{{ .Data.ID }}</h2>
    </div>
</div>

<form action="/api/delete-exam/{{ .Data.ID }}" method="POST" class="d-inline">
    <button type="submit" class="btn btn-danger text-white mb-4"
        onclick="return confirm('Apakah anda yakin ingin menghapus data ini?')">
        <i class="fa fa-trash"></i>
        Delete
    </button>
</form>


<div class="card mb-4">

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless table-striped mb-0" style="width: 100%;">
                <tbody>
                    <tr>
                        <th width="140px" style="white-space: nowrap;">ID</th>
                        <td>{{ .Data.ID }}</td>
                    </tr>
                    <tr>
                        <th width="140px" style="white-space: nowrap;">Nama</th>
                        <td>{{ call .NilToEmptyString .Data.UserFromCreatedBy.Name }}</td>
                    </tr>
                    <tr>
                        <th width="140px" style="white-space: nowrap;">Email</th>
                        <td>{{ call .NilToEmptyString .Data.UserFromCreatedBy.Email}}</td>
                    </tr>
                    <tr>
                        <th width="140px" style="white-space: nowrap;">Phone</th>
                        <td>{{ call .NilToEmptyString .Data.UserFromCreatedBy.Phone }}</td>
                    </tr>
                    <tr>
                        <th width="140px" style="white-space: nowrap;">Package</th>
                        <td>{{ call .NilToEmptyString .Data.Package.Name }}<br />
                            <small class="form-text text-muted">duration:
                                {{ .Data.Package.Duration }}
                                s</small>
                        </td>
                    </tr>
                    <tr>
                        <th width="140px" style="white-space: nowrap;">Extra Time</th>
                        <td>{{ call .NilToEmptyString .Data.ExtraTime }}</td>
                    </tr>
                    <tr>
                        <th width="140px" style="white-space: nowrap;">Started At</th>
                        <td>{{ .Data.StartedAtTe }}</td>
                    </tr>
                    <tr>
                        <th width="140px" style="white-space: nowrap;">Ended At</th>
                        <td>{{ .Data.EndedAtTe }}</td>
                    </tr>
                    <tr>
                        <th width="140px" style="white-space: nowrap;">Score</th>
                        <td>
                            {{ if eq .Data.ScorePercentaged nil}}
                            {{ call .NilToEmptyString .Data.ScorePercentaged }}
                            {{ end }}
                            {{ if ne .Data.ScoreSummarized nil}}
                            {{ call .NilToEmptyString .Data.ScoreSummarized }}
                            {{ end }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">
        <div class="card-title w-100 d-flex justify-content-between align-items-center mb-0">
            <div>
                <h5>Exam Question</h5>
            </div>
            <div>
                <a href="#" class=" btn btn-light mb-3 border">
                    Elapsed time:
                    {{ .elapsedTime }}
                    s</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table mb-0" id="dataexamquestion" style="width:100%">
                <thead class="thead-light">
                    <tr>
                        <th style="min-width: 1px; white-space: nowrap;">#</th>
                        <th>Question</th>
                        <th>Option</th>
                        <th style="white-space: nowrap;width: 1px;">Time</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>


{{ end }}