{{ define "content" }}
<h2 class="mb-4">Version</h2>

<a value="/version/new" class=" btn btn-primary mb-3 showModalButton" title="Tambah Version" size="modal-lg">
    <i class="fa fa-plus"></i>
    Tambah</a>
{{ if .Error }}
<div class="alert alert-danger">
    {{ .Error }}
</div>
{{ end }}
<div class="card mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table mb-0" id="dataversion" style="width:100%">
                <thead class="thead-light">
                    <tr>
                        <th style="min-width: 1px; white-space: nowrap;">#</th>
                        <th style="min-width: 1px; white-space: nowrap;"></th>
                        <th>Name</th>
                        <th style="min-width: 1px; white-space: nowrap;">Tipe</th>
                        <th style="min-width: 1px; white-space: nowrap;">Is Active</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

{{ end }}