{{ define "content" }}
<h2 class="mb-4">Question</h2>

<a value="/question/new" class=" btn btn-primary mb-3 showModalButton" title="Tambah Question" size="modal-xl">
    <i class="fa fa-plus"></i>
    Tambah</a>

<a value="/question/import" class=" btn btn-secondary mb-3 showModalButton" title="Import Question" size="modal-lg">
    <i class="fa fa-file-import"></i>
    Import</a>

{{ if .Error }}
<div class="alert alert-danger">
    {{ .Error }}
</div>
{{ end }}
<div class="card mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table mb-0" id="dataquestion" style="width:100%">
                <thead class="thead-light">
                    <tr>
                        <th style="min-width: 1px; white-space: nowrap;">#</th>
                        <th style="min-width: 1px; white-space: nowrap;"></th>
                        <th>ID</th>
                        <th>Question</th>
                        <th>Explanation</th>
                        <th>Topic</th>
                        <th style="min-width: 1px; white-space: nowrap;">Tutor Name</th>
                        <th style="min-width: 1px; white-space: nowrap;">Is Active</th>
                        <th>Packages</th>
                        <th style="min-width: 1px; white-space: nowrap;">Area Kompetensi</th>
                        <th style="min-width: 1px; white-space: nowrap;">Domain</th>
                        <th style="min-width: 1px; white-space: nowrap;">Keilmuan</th>
                        <th style="min-width: 1px; white-space: nowrap;">Proses Keperawatan</th>
                        <th style="min-width: 1px; white-space: nowrap;">Upaya</th>
                        <th style="min-width: 1px; white-space: nowrap;">Kebutuhan</th>
                        <th style="min-width: 1px; white-space: nowrap;">Sistem Tubuh</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
{{ end }}