<!-- <div class="row ">
    <div class="col-12">
        <ol class="breadcrumb mb-0 p-0 pb-1" style="background-color: transparent;">
            <li class="breadcrumb-item">
                <a href="/dashboard" style="color:black">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/question" style="color:black">Question</a>
            </li>
        </ol>
    </div>
    <div class="mb-1 col-12">
        <h2>Form Tambah Question</h2>
    </div>
</div> -->


{{ if .Error }}
<div class="alert alert-danger">
    {{ .Error }}
</div>
{{ end }}

<div class="card mb-4">
    <div class="card-body">
        <form action="/api/create-question" method="POST" enctype="multipart/form-data">
            <div class="row mb-4 mb-lg-0">
                <div class="col-12 col-lg-6 mb-4 mb-0">
                    <div class="form-group">
                        <label for="question">Question</label>
                        <textarea rows="4" name="question" id="question" required="required"
                            placeholder="Masukkan question" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="explanation">Explanation</label>
                        <textarea rows="4" id="explanation" name="explanation" placeholder="Masukkan explanation"
                            class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="topic">Topic</label>
                        <input type="text" name="topic" placeholder="Masukkan topic" required="required"
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="subtopic">SubTopic</label>
                        <input type="text" name="subtopic" placeholder="Masukkan subtopic" required="required"
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Tutor</label>
                        <select id="tutorSelect" name="tutor_id" class="form-control select2" style="width: 100%;"
                            aria-hidden="true">
                    </div>
                    <div class="form-group">
                        <label>Tutor</label>
                        <select id="tutorSelect" name="tutor_id" class="form-control select2" style="width: 100%;"
                            aria-hidden="true">
                    </div>
                    <div class="form-group">
                        <label for="file_image">File Image Question</label>
                        <input type="file" name="file_image" id="file_image_question" class="form-control"
                            accept="image/*">
                    </div>
                    <div class="form-group">
                        <label for="file_image_ekplanation">File Image Ekplanation</label>
                        <input type="file" name="file_image_ekplanation" id="file_image_ekplanation"
                            class="form-control" accept="image/*">
                    </div>
                        <div class="form-group">
                            <label for="competency_area">Area Kompetensi</label>
                            <input type="number" name="competency_area" placeholder="Masukkan Area Kompetensi" required="required"
                                class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="domain">Domain</label>
                            <input type="number" name="domain" placeholder="Masukkan domain" required="required" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="science">Keilmuan</label>
                            <input type="number" name="science" placeholder="Masukkan Keilmuan" required="required" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="nursing_process">Proses Keperawatan</label>
                            <input type="number" name="nursing_process" placeholder="Masukkan Proses Keperawatan" required="required"
                                class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="effort">Upaya</label>
                            <input type="number" name="effort" placeholder="Masukkan Upaya" required="required" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="need">Kebutuhan</label>
                            <input type="number" name="need" placeholder="Masukkan Kebutuhan" required="required" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="body_system">Sistem Tubuh</label>
                            <input type="number" name="body_system" placeholder="Masukkan Sistem Tubuh" required="required" class="form-control">
                        </div>
                    <div class="form-group">
                        <label for="is_active">Is Active</label>
                        <select name="is_active" required="required" class="form-control">
                            <option value="" selected="selected">Pilih</option>
                            <option value="1">Active</option>
                            <option value="0">Inactive</option>
                        </select>
                        <small class="form-text text-muted">active: bisa ditambahkan ke Package<br />
                            inactive: tidak bisa ditambahkan ke Package</small>
                    </div>


                </div>
                <div class="col-12 col-lg-6">
                    <label for="question">Option</label> <br />
                    <div class="mb-4 mt-2"><button id="addOptionButton" type="button" class="btn btn-primary"><i
                                class="fa fa-plus"></i></button></div>
                    <div id="optionsContainer"></div>
                </div>

            </div>


            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

<script>
    function chooseFile(button) {
        const index = button.getAttribute("data-index");
        const fileInput = document.getElementById("fileInput" + index);
        fileInput.click();

        fileInput.addEventListener("change", function () {
            const imageContainer = document.getElementById("imageContainer" + index);
            const description = document.getElementById("Option[" + index + "].description");
            const filenameContainer = document.getElementById("filename" + index);
            while (imageContainer.firstChild) {
                imageContainer.removeChild(imageContainer.firstChild);
            }

            const file = fileInput.files[0];
            if (file) {
                let filename = file.name
                if (filename.match(/\(/g)) {
                    filename = filename.replace(/\(/g, "").replace(/\)/g, "");
                }
                const img = document.createElement("img");
                img.src = URL.createObjectURL(file);
                img.alt = "Gambar yang diunggah";
                img.width = 100;
                img.height = 100;
                imageContainer.appendChild(img);

                var currentValue = description.value;
                if (currentValue.match(/\{\{([^}]+)\}\}/g)) {
                    currentValue = currentValue.replace(/\{\{([^}]+)\}\}/g, "")
                    var newValue = "((" + filename.split(".")[0] + "))"; // Gantilah dengan nilai yang ingin Anda tambahkan
                    var updatedValue = newValue.replace(/\(/g, "{");
                    updatedValue = updatedValue.replace(/\)/g, "}");
                    if (currentValue != "") {
                        if (currentValue.match(/\n/g)) {
                            updatedValue = currentValue + updatedValue;
                        } else {
                            updatedValue = currentValue + "\n" + updatedValue;
                        }
                    }
                    currentValue = updatedValue
                } else {
                    var newValue = "((" + filename.split(".")[0] + "))"; // Gantilah dengan nilai yang ingin Anda tambahkan
                    var updatedValue = newValue.replace(/\(/g, "{");
                    updatedValue = updatedValue.replace(/\)/g, "}");
                    if (currentValue != "") {
                        updatedValue = currentValue + "\n" + updatedValue
                    }
                    currentValue = updatedValue
                } description.value = currentValue
                filenameContainer.textContent = "Filename: " + filename;
            }
        });
    }

    $(document).ready(function () {
        const fileInput = document.getElementById("file_image_question");
        //console.log("jhgf")

        fileInput.addEventListener("change", function () {
            const question = document.getElementById("question");
            const file = fileInput.files[0];
            if (file) {
                let filename = file.name
                const img = document.createElement("img");
                if (filename.match(/\(/g)) {
                    filename = filename.replace(/\(/g, "").replace(/\)/g, "");
                }
                var currentValue = question.value;
                if (currentValue.match(/\{\{([^}]+)\}\}/g)) {
                    currentValue = currentValue.replace(/\{\{([^}]+)\}\}/g, "")
                    var newValue = "((" + filename.split(".")[0] + "))"; // Gantilah dengan nilai yang ingin Anda tambahkan
                    var updatedValue = newValue.replace(/\(/g, "{");
                    updatedValue = updatedValue.replace(/\)/g, "}");
                    if (currentValue !== "") {
                        if (currentValue.match(/\n/g)) {
                            updatedValue = currentValue + updatedValue;
                        } else {
                            updatedValue = currentValue + "\n" + updatedValue;
                        }
                    }
                    currentValue = updatedValue;
                } else {
                    var newValue = "((" + filename.split(".")[0] + "))"; // Gantilah dengan nilai yang ingin Anda tambahkan
                    var updatedValue = newValue.replace(/\(/g, "{");
                    updatedValue = updatedValue.replace(/\)/g, "}");
                    if (currentValue !== "") {
                        updatedValue = currentValue + "\n" + updatedValue;
                    }
                    currentValue = updatedValue;
                } question.value = currentValue

            }
        });
    });

    $(document).ready(function () {
        const fileInput1 = document.getElementById("file_image_ekplanation");

        fileInput1.addEventListener("change", function () {
            const question = document.getElementById("explanation");
            const file = fileInput1.files[0];
            if (file) {
                let filename = file.name
                const img = document.createElement("img");
                if (filename.match(/\(/g)) {
                    filename = filename.replace(/\(/g, "").replace(/\)/g, "");
                }
                var currentValue = question.value;
                if (currentValue.match(/\{\{([^}]+)\}\}/g)) {
                    currentValue = currentValue.replace(/\{\{([^}]+)\}\}/g, "")
                    var newValue = "((" + filename.split(".")[0] + "))"; // Gantilah dengan nilai yang ingin Anda tambahkan
                    var updatedValue = newValue.replace(/\(/g, "{");
                    updatedValue = updatedValue.replace(/\)/g, "}");
                    if (currentValue !== "") {
                        if (currentValue.match(/\n/g)) {
                            updatedValue = currentValue + updatedValue;
                        } else {
                            updatedValue = currentValue + "\n" + updatedValue;
                        }
                    }
                    currentValue = updatedValue;
                } else {
                    var newValue = "((" + filename.split(".")[0] + "))"; // Gantilah dengan nilai yang ingin Anda tambahkan
                    var updatedValue = newValue.replace(/\(/g, "{");
                    updatedValue = updatedValue.replace(/\)/g, "}");
                    if (currentValue !== "") {
                        updatedValue = currentValue + "\n" + updatedValue;
                    }
                    currentValue = updatedValue;
                } question.value = currentValue

            }
        });
    });

    //

    $(document).ready(function () {
        const optionsContainer = document.getElementById('optionsContainer');
        const numberOfOptions = [];

        const renderOption = (i) => {
            const divInputGroup = `
                        <div id="Option${i}" class="input-group mb-3">
                            <div class="input-group-prepend" style="width: 65px;">
                                <span class="input-group-text">
                                    <input type="text" tabindex="-1" readonly="readonly" 
                                        name="Option[${i}].name" class="form-control" value="${String.fromCharCode(65 + i)}">
                                </span>
                            </div>
                            <textarea rows="2" name="Option[${i}].description" id="Option[${i}].description" class="form-control"></textarea>
                            <div class="input-group-append" style="width: 65px;">
                                <span class="input-group-text">
                                    <input type="number" name="Option[${i}].is_true" class="form-control" required="required">
                                </span>
                            </div>
                            <div class="input-group-append" style="width: 80px;">
                                <button class="btn btn-secondary" type="button" data-index="${i}" onclick="chooseFile(this)" tabindex="-1">Pilih Gambar</button>
                            </div>
                            <input type="file" name="Option[${i}].file" id="fileInput${i}" accept="image/*" style="display: none">
                            <button class="btn btn-danger removeOptionButton" data-index="${i}" type="button"><i class="fa fa-minus"></i></button>
                        </div>
                        <div id="imageContainer${i}" class="mb-3 mt-1">
                            <div id="filename${i}"></div>
                        </div>
                    `;
            return divInputGroup;
        };

        const renderOptions = () => {
            optionsContainer.innerHTML = numberOfOptions.map((_, i) => renderOption(i)).join('');

        };

        const addOption = () => {
            const newIndex = numberOfOptions.length;
            if (newIndex > 4) {
                return null
            }
            numberOfOptions.push(newIndex);
            const newOption = renderOption(newIndex);
            optionsContainer.insertAdjacentHTML('beforeend', newOption);

            // Tambahkan logika file input di sini jika diperlukan
            optionsContainer.querySelector(`#fileInput${newIndex}`).addEventListener('change', function () {
                // Logika untuk menangani perubahan pada file input
                const file = this.files[0];
                // const imagePreview = document.getElementById(`imagePreview${newIndex}`);
                const reader = new FileReader();

                // reader.onload = function (e) {
                //     imagePreview.src = e.target.result;
                // };

                reader.readAsDataURL(file);
            });
            //console.log(numberOfOptions)
        };

        const removeOption = (index) => {
            const optionToRemove = document.getElementById(`Option${index}`);
            const optionToRemove1 = document.getElementById(`imageContainer${index}`);
            //console.log(optionToRemove)
            //console.log(index)
            if (optionToRemove) {
                optionToRemove.remove();
                  if (optionToRemove1) {
                      optionToRemove1.remove();
                 }
                numberOfOptions.splice(index, 1);
                 const options = document.querySelectorAll('.input-group');
                options.forEach((option, i) => {
                    const optionIndex = parseInt(option.id.replace('Option', ''));
                    if (optionIndex > index) {
                        const newIndex = optionIndex - 1;
                        const optionName = option.querySelector(`[name="Option[${optionIndex}].name"]`);
                        if (optionName) {
                            optionName.value = String.fromCharCode(65 + newIndex);
                        }
                        option.id = `Option${newIndex}`;
                        option.querySelectorAll('[name]').forEach(elem => {
                            elem.name = elem.name.replace(/\[\d+\]/, `[${newIndex}]`);
                        });
                      const imageContainer = document.getElementById(`imageContainer${optionIndex}`);
                        if (imageContainer) {
                            imageContainer.id = `imageContainer${newIndex}`;
                            const filename = imageContainer.querySelector(`#filename${optionIndex}`);
                            if (filename) {
                                filename.id = `filename${newIndex}`;
                            }
                            // const imagePreview = imageContainer.querySelector(`#imagePreview${optionIndex}`);
                            // if (imagePreview) {
                            //     imagePreview.id = `imagePreview${newIndex}`;
                            // }
                        }
                         const removeButton = option.querySelector(`.removeOptionButton[data-index="${optionIndex}"]`);
                        if (removeButton) {
                            removeButton.dataset.index = newIndex;
                        }
                           const description = document.getElementById(`Option[${optionIndex}].description`);
                        if (description) {
                            description.id = `Option[${newIndex}].description`;
                        }
                              const fileInput = document.getElementById(`fileInput${optionIndex}`);
                        if (fileInput) {
                            fileInput.id = `fileInput${newIndex}`;
                        }

                        const chooseFileButton = option.querySelector(`button[data-index="${optionIndex}"]`);
                        if (chooseFileButton) {
                            chooseFileButton.dataset.index = newIndex;
                        }
                    }
                });
            }
        };
        const handleRemoveOption = (event) => {
            if (event.target.classList.contains('removeOptionButton')) {
                const index = event.target.dataset.index;
                //console.log(event.target)
                removeOption(parseInt(index));
                //console.log(index)
                //console.log(numberOfOptions)
            }
        };


        document.getElementById('addOptionButton').addEventListener('click', addOption);
        optionsContainer.addEventListener('click', handleRemoveOption);
        // optionsContainer.addEventListener('change', (event) => {
        //     if (event.target.matches('[id^="fileInput"]')) {
        //         handleFileInputChange(event);
        //     }
        // });
    });


</script>